body {
  display: flex;
  flex-direction: column;
  /*gap: 20px;*/
  background-color: rgb(240, 240, 240);
  font-family: "Times New Roman", Times, serif;
  font-size: 13px; /* Genel yazı fontunu bir birim düşürdük */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  width: 760px; /* Yatayda daralttık */
  height: 1080px;
  margin-top: 1em;
  gap: 2em; /* Sütunlar arasındaki boşluk */
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5em; /* Kutucuklar arasındaki boşluk */
}

.box {
  background: rgb(255, 255, 255);
  padding: 1.5em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex: 1; /* Kutucukların daha tombul olması için */
}
.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.profile-img {
  flex: 0 0 20%; /* Profil fotoğrafının kutucuğun 1/3'ünü kaplaması için */
  margin-right: 1em;
}
.profile-img img {
  width: 100%;
  border-radius: 50%;
}
.profile-info {
  flex: 1;
}
.child-box {
  margin-top: 1em;
  padding: 1em;
  background: rgb(245, 245, 245);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
h4 {
  margin-bottom: -5px;
  margin-top: -5px;
}
footer {
  padding-top: 50px;
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 0;
}
.u_linkler {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 5px;
  padding: 0;
  gap: 8px;
}
.li_linkler {
  list-style-type: square;
  margin: 0;
  padding: 0;
  text-decoration: none;
  padding-left: -25px;
}

.a_linkler {
  text-decoration: underline;
  color: rgb(80, 80, 80);
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.a_linkler:hover {
  color: rgb(0, 0, 0);
}
.a_linkler::after {
  color: rgb(156, 26, 26);
}
#iletisim {
  padding: 1em; /* İçerik ile kutu kenarları arasındaki boşluk */
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: auto; /* Genişliği içeriğe göre ayarlar */
  flex: none; /* Flex kutu davranışını kaldırır */
}
#linklerim {
  padding: 1em; /* İçerik ile kutu kenarları arasındaki boşluk */
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: auto; /* Genişliği içeriğe göre ayarlar */
  flex: none; /* Flex kutu davranışını kaldırır */
}

.li_diller {
  list-style-type: square;
  font-weight: 650;
  font-size: 16px;
  margin: -8px 0px -8px 0px;
}
.span_diller {
  font-weight: 400;
  font-size: 11px;
  margin: 0px;
}
.h3_diller {
  font-size: 18px;
  font-weight: 800;
  margin: 0px 0px 18px 0px;
}
